@{
    ViewData["Title"] = "Página Inicial";
    Layout = "_Layout";
}


<div class= "text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Sistema de controle de estacionamento</p>
</div>


<div class="d-flex flex-row justify-content-center">

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://allos.co/wp-content/uploads/2021/07/Caxias-1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Caxias Shopping</h5>
        <p class="card-text">Local descoberto, circuito interno de segurança CFTV, suporta veículos grandes. Shopping; lazer;</p>
        <a class="btn btn-primary" href=" @Url.Action("Vagas", "Home") ">Vagas</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://allos.co/wp-content/uploads/2021/07/Caxias-1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Caxias Shopping</h5>
        <p class="card-text">Local descoberto, circuito interno de segurança CFTV, suporta veículos grandes. Shopping; lazer;</p>
        <a href="#" class="btn btn-primary">Vagas</a>
    </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://allos.co/wp-content/uploads/2021/07/Caxias-1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Caxias Shopping</h5>
        <p class="card-text">Local descoberto, circuito interno de segurança CFTV, suporta veículos grandes. Shopping; lazer;</p>
        <a href="#" class="btn btn-primary">Vagas</a>
    </div>
    </div>
</div>



